[01;34m./work/study/2026-1/2026-1==study--simulation-modeling/template[0m
│   00Tree.html
│   [01;34mconfig[0m
│   │   [01;34mcourse[0m
│   │   │   arch-pc
│   │   │   computer-practice
│   │   │   infosec
│   │   │   infosec-intro
│   │   │   mathmod
│   │   │   mathsec
│   │   │   net-admin
│   │   │   netcybersec
│   │   │   net-os-admin
│   │   │   nettech
│   │   │   os2
│   │   │   os-intro
│   │   │   practical-scientific-writing
│   │   │   sciprog
│   │   │   sciprog-intro
│   │   │   security-modeling
│   │   │   simulation-modeling
│   │       simulation-networks
│   └── [01;34mscript[0m
│       │   fix-submodules.sh
│       │   functions
│       │   list-courses
│           prepare
├── [01;34mpresentation[0m
│   ├── CHANGELOG.md
│   ├── CODE_OF_CONDUCT.md
│   ├── CONTRIBUTING.md
│   ├── History.md
│   ├── LICENSE
│   ├── package.json
│   ├── [01;34mpresentation[0m
│   │   │   [01;34mimage[0m
│   │   │       [01;35mkulyabov.jpg[0m
│   │   ├── Makefile
│   │   ├── presentation.qmd
│   │   ├── _quarto.yml
│   │   └── [01;34m_resources[0m
│   │       │   [01;34mimage[0m
│   │       │   └── [01;35mlogo_rudn.png[0m
│   │       └── [01;34mtex[0m
│   │           └── beamer.tex
│   ├── README.git-flow.md
│   ├── README.md
│   └── SECURITY.md
└── [01;34mreport[0m
    ├── CHANGELOG.md
    ├── LICENSE
    ├── package.json
    ├── README.git-flow.md
    ├── README.md
    ├── README.ru.md
    ├── [01;34mreport[0m
    │   ├── [01;34mbib[0m
    │   │   └── cite.bib
    │   ├── [01;34m_extensions[0m
    │   │   └── [01;34myamadharma[0m
    │   │       └── [01;34mminted-quarto[0m
    │   ├── [01;34mimage[0m
    │   │   └── [01;35msolvay.jpg[0m
    │   ├── Makefile
    │   ├── _quarto.yml
    │   ├── report.qmd
    │   └── [01;34m_resources[0m
    │       ├── [01;34mcsl[0m
    │       │   └── gost-r-7-0-5-2008-numeric.csl
    │       └── [01;34mtex[0m
    │           └── preamble.tex
    └── [01;34mscripts[0m
        ├── [01;32mimage-report[0m
        └── [01;32mmpv-shot[0m

20 directories, 53 files
